/* main styles */

html,
body,
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {  box-sizing: border-box; }

*,
::after,
::before { box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #c1c8c7;
}

li { margin-left: 40px; }

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 15px;
  background-color: #f6fafb;
  box-shadow: 0 1px 1px rgba(0,0,0,.12), 
  0 2px 2px rgba(0,0,0,.12), 
  0 4px 4px rgba(0,0,0,.12), 
  0 8px 8px rgba(0,0,0,.12),
  0 16px 16px rgba(0,0,0,.12);
  border-radius: 5px;
}

section { padding: 15px 0; }

h2 {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 700;
}

p { line-height: 1.5; }

a {
  color: rgba(0,0,0,.7);
  transition: all .2s linear;
}

a:hover {
  color: rgba(0,0,0,1);  
  cursor: pointer;
}


/* styles of intro block */

.intro { position: relative; }

.intro__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.intro__img {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  transform: translateX(-50%);
}

.intro__img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/* styles of contacts block */

.contacts__item { margin-bottom: 10px; }

.contacts__item strong {
  margin-right: 7px;
  font-weight: 700;
}

.contacts__item a { text-decoration: none; }


/* styles of technologies block */

.technologies__item { margin-bottom: 10px; }
.technologies__item:last-child { margin-bottom: 0; }


/* styles of code block */

.code__text { margin-bottom: 10px; }

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;  
  white-space: pre;
}

.code__blockCode {
  display: block;  
  margin: -20px 0 10px -60px;
}


/* styles of experience block */

.experience__text {
  margin-bottom: 15px;
}

.experience__wrapper {
  display: flex;
  justify-content: flex-start;
}

.experience__wrapper:nth-last-child(3) {
  margin-bottom: 25px;
  justify-content: space-between;
}

.experience__item {
  width: 30%;
  margin-right: 5%;
  text-align: center;
}

.experience__item:last-child { margin-right: 0; }

.experience__description {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}

.experience__portfolio {
  position: relative;
  width: 80%;
  margin: 0 auto 7px;
}

.experience__portfolio:hover img { transform: scale(1.03); }

.experience__portfolio img {
  display: block;
  width: 100%;
  height: auto;  
  border: 1px solid rgba(0,0,0,.1);
  transition: all .2s linear;
}

.experience__portfolio a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
}

.experience__tech {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  font-weight: 300;
}


/* styles of english block */

.english { padding-bottom: 30px; }



/* responsive styles */

@media (max-width: 992px) {

  .container { width: 720px; }

  .intro__img { left: 350px; }

}




@media (max-width: 768px) {

  .container { width: 540px; }

  .experience__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .experience__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .experience__portfolio { width: 70%; }

}



@media (max-width: 576px) {

  .container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .intro__title span { display: block; }

  .intro__img {
    position: static;
    width: 150px;
    height: 150px;
    transform: none;
  }
  .code__blockCode { font-size: 14px; }

}